.container-about {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 1fr;
}

.container-about h1 {
    font-family: "Markazi Text", serif;
    font-size: 56px;
    margin-bottom: 0%;
}

.container-about h2 {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    margin-top: 0%;
    color: #333333;
}

.container-about img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.img-1 {
    margin-top: 40%;
}

.img-2 {
    margin-top: 15%;
    margin-left: -10%;
}

