.container-highlights {
    margin-top: 5%;
    font-family: "Markazi Text", serif;
}

.row-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
}

.title {
    font-size: 56px;
    margin-top: 0%;
    margin-left: -5%;
}

.row-1 button {
    background-color: #F4CE14;
    font-family: "Markazi Text", serif;
    font-size: 24px;
    height: 60px;
    width: auto;
    border-radius: 16px;
    border: none;
    margin-left: 10%;
    justify-self: left;
    padding-left: 50px;
    padding-right: 50px;
}

.row-2 {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-auto-rows: 1fr;
}

